/*-------------------------Normalized/Reset styles-------------------------*/
/* Ensures consistent styling across different browsers.*/
html,
body {
    margin: 0;
    padding: 0;
    border: 0;
}

/*-------------------------Base Variables-------------------------*/
/* Defines CSS custom properties for global reuse (colors, fonts, etc.). */
:root {
    --primary-color: black;
    --secondary-color: #006EB6;
    --accent-color: #E4E4E4;
    /* BYU-I's Official Color font */

}

/*-------------------------Global Styles-------------------------*/
/* Sets default styles for typography, links, and foundational elements. */

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--primary-color)
}

/*-------------------------Layout and Grid System-------------------------*/
/* Defines styles for the main layout components (header, footer, nav). */

.core {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    align-items: start;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

/*-------------------------Page-Specific Styles-------------------------*/
/* Styles specific to individual pages or sections.*/

.title,
main,
footer {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    border-left: 1px lightgray solid;
    border-right: 1px lightgray solid;
}


/* Header */

.title {
    padding-top: 50px;
    border-top: 1px lightgray solid;
}


h1,
h2 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

h1 {
    margin: 0;
    font-weight: 525;
}

h2 {
    color: var(--secondary-color);
    margin: 0;
    font-size: 20px;
    font-weight: 100;
    border-bottom: 1px var(--accent-color) solid;
}


/* Main */

main {
    text-align: left;
    padding-top: 20px;
}

ol {
    text-align: left;
    padding-left: 50px;
}

li {
    padding-bottom: 1rem;
}


/* Footer */

footer {
    padding-bottom: 50px;
    border-bottom: 1px lightgray solid;
}

img {
    width: 150px;
    height: auto;
    padding-top: 20px;
}

/*-------------------------Component Styles-------------------------*/
/*Styles for reusable UI components (buttons, cards, modals).*/

#dark-toggle {
    padding: 0.25rem 0.25rem;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 5px;
}

/*---------------------------Theme Styles---------------------------*/
/*Switching between light and dark modes*/

body.dark {
    background-color: #333;
    color: white;
}

.dark h2 {
    color: #A0D4ED;
}

body.dark #dark-toggle {
    background-color: var(--invert-primary-color);
    color: white;
}