/*-------------------------Normalized/Reset styles-------------------------*/
/* Ensures consistent styling across different browsers.*/
html,
body {
    margin: 0;
    padding: 0;
    border: 0;
}

/*-------------------------Base Variables-------------------------*/
/* Defines CSS custom properties for global reuse (colors, fonts, etc.). */
:root {
    --primary-color: black;
    --secondary-color: #006EB6;
    /* BYU-I's Official Color font */
}

/*-------------------------Global Styles-------------------------*/
/* Sets default styles for typography, links, and foundational elements. */

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.5;
    color: var(--primary-color)
}

/*-------------------------Layout and Grid System-------------------------*/
/* Defines styles for the main layout components (header, footer, nav). */

.core {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    border: 1px black solid;
    box-sizing: border-box;
}

.title, main, footer {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
}

.title {
    text-align: center;
}

h1, h2 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

h1 {
    margin: 0;
}

h2 {
    color: var(--secondary-color);
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    border-bottom: 1px rgb(224, 224, 224) solid;
}

main {
    text-align: left;
    padding: 1rem;
}


img {
    width: 150px;
    height: auto;
}

ol {
    text-align: left;
    padding-left: 20px;
}

li {
    padding: .5rem;
    padding-left: 0;
}